html{
  font-family: 'Piazzolla', serif;
  background-color: #F2E3BC;
}

body{
  margin:0px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414535;
  color: #FFF;
  padding: 0 20px;
}

header a{
  color: #C19875;
  padding-left: 1em;
}

main{
  margin-left: 20%;
  padding: 0;
}

a{
  color: black;
}

.flexbox{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 800px;
    height: 230px;
}
.item1 {
    width: 60%;
    height: 40%;
}
.item2 {
    width: 60%;
    height: 60%;
}
.item3 {
    width: 40%;
    height: 100%;
}

h2{
  color: white;
  background-color: #4E6E5D;
  width: 800px;
  padding: 2px;
  margin: 2;
}

img{
  width:300px;
}
