body {
    margin: 0;
    background-color: #f8edeb;
    padding-bottom: 2%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffadad;
    padding: 0 2%;
}

nav a {
    color: #264653;
    margin: 0 10px;
    font-size: large;
}

main {
    margin: 0 auto;
    margin-top: 2%;
    width: 65%;
}

.my-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#recipe-lists > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    width: 98%; /* Make sure crap lines up */
    background-color: #fec89a;
    padding: 1% 1%;
}

#recipe-lists ul {
    display: inline-block;
    list-style-type: none;
}

#recipe-lists ul > li {
    font-size: large;
    margin-top: 10px;
}

#recipe-lists ul li:nth-child(1) {
    margin-top: 0;
}

#recipe-lists a {
    color: #2a9d8f !important;
}

#recipe-lists img.recipes {
    display: inline;
}

.recipe-desc {
    display: flex;
    justify-content: space-between;
}

.recipe-desc .desc-nontxt {
    display: block;
    padding-left: 4px;
}

div#servings {
    display: flex;
    align-items: center;
}

div#servings > * {
    margin: 0;
    margin-right: 1vw;
    height: 4%;
}

button {
    cursor: pointer;
    border: 0;
}

select#rating-options {
    width: 8vw;
    height: 4vh;
    margin-right: 2%;
}

.recipe-desc button {
    background-color: brown;
    color: white;
}

#servings > button {
    font-size: large;
    height: 3.5vh;
    width: 2.5vw;
}

#ratings {
    display: flex;
    align-items: center;
}

#ratings > button {
    height: 5vh;
    width: 6vw;
}

#avg-rating {
    font-size: x-large;
    width: 100%;
    text-align: right;
    margin-top: 0;
}
