.Recipe-body {
  margin: 0;
  background-color: #fae6cf;
  font-family: Century Gothic;
}

.serving {
	margin: 0px 0px 15px 0px;
}

.serving > button {
	background-color: #BC4524;
	color: black;
	font-size: 12px;
	padding: 5px 14px;
}

#serving-count {
  margin: 0 4px;
}

#ratings {
  font-size: 20px;
  color: black;
}

#rating-label {
  font-size: 20px;
}

.addCart {
        margin: 0px 0px 15px 0px;
}

.addCart > button {
        background-color: #BC4524;
        color: black;
        font-size: 12px;
        padding: 5px 14px;
}


words{
	display: flex;
	justify-content: space-around;
	margin: px 20px 0px 20px;
}

ul {
	padding: 15px 40% 50px;
}

ol{
        padding: 15px 40% 50px;
}

.ingredients {
	font-size: 17px;
	color: black;
	padding: 15px 0px 0px 0px;
}
