body {
    margin: 0;
    background-color:#DEF2F1;
  }

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color:#17252A;
  padding: 15px;
}

header a{
    color: white;
    margin: 0 12px;
}
  
main{
    padding:50px 20% 40px;
}

main a{
    color: #17252A;
    padding: 0px 10px;
}


h2{
    justify-content: stretch;
    color: #17252A;
    padding: 0px 10px;
}

h1{
    padding: 10px 10px;
}

p{
    padding: 0px 10px;
}

.breakfast > img{
    margin: -80px 220px;
    height: auto;
    width: 40%;
}

.lunch > img{
    margin: -80px 220px;
    height: auto;
    width: 40%;
}

.break{
    line-height: 1100%;
}

.about > img{
    margin: 0px 0px;
    height: auto;
    width: 40%;
}
