header {
    background-color: 00587a;
    display: flex;
    align-items: center;
}

.nav-bar {
    flex: 1;
    color: white;
    justify-content: left;
    font-family: 'Lucida Sans';
    margin-left: 20px;
}

nav {
    flex: 1;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 50px;
}

.nav-item:hover {
    text-decoration: underline;
}

body {
    background-color: e7e7de;
    font-family: 'Lucida Sans';
    margin: 0;
}

main {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
}

h2 {
    background-color: 008891;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding: 5px;
}

.bio {
    display: flex;
    justify-content: space-between;
}

.description {
    margin-right: 10px;
    position: relative;
}

.portions > button {
    border: none;
    cursor: pointer;
    outline-style: none;
    background-color: e63946;
    color: white;
    width: 35px;
    height: 25px;
    border-radius: 8px;
}

#serving-size {
    margin-left: 8px;
    margin-right: 8px;
}

.information {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rating-label {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}