.recipe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 20px 40px 40px;
}

.recipe-page li {
    margin: 7px 0px;
}

.instructions h3, .ingredients h3 {
    background-color: #EEEDED;
    padding: 5px;
}

.recipe-title {
    margin: 0px 0px 20px;
    padding-top: 40px;
}

.recipe-description {
    margin: 0px 0px 30px;
}

.recipe-image {
    height: 300px;
    width: auto;
    margin: 0px 0px 20px;
    padding: 0px;
}

.instructions, .ingredients {
    width: 600px;
}

.servings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.servings h2, .ratings h2{
    margin-right: 20px;
}

.servings button{
    height: 25px;
    width: 30px;
    margin: 5px;
    background-color: purple;
    color: white;
    border: none;
}

#serving-size, #rating-display {
    font-size: 20px;
}

.ratings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
}

#submit-rating {
    margin-left: 10px;
}

.recipe-topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#rating-display, #star {
    margin: 0px 0px 20px;
    padding-top: 40px;
    margin-left: 50px;
}

#star {
    padding-top: 38px;
    margin-left: 5px;
}