body {
    margin: 0;
    background-color: beige;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: darkcyan;
    color: white;
    padding: 0 20px;
}

header a {
    color: black;
    margin: 0 12px;
}

main {
    padding: 0px 250px;
}

main h1 {
    background-color: cadetblue;
    padding: 0px 5px;
}

h2 {
    background-color: cadetblue;
    padding: 0px 5px;
}

h3 {
    background-color: cadetblue;
    padding: 0px 5px;
}

#selfie {
    display: flex;
    justify-content: center;
}
