*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul li 
{
    list-style: none;
    text-align: center;
}

a
{
    text-decoration: none;
    color: black;
}

#main__recipe
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
}

#main__recipe p
{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#main__recipe img
{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#ingredients
{
    padding: 20px;
    
}

#ingredients ul
{
    padding: 20px;
}

#ingredients ul li
{
    padding: 3px;
}

#instructions ol
{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    line-height: 1.2;
}

#instructions ol
{
    padding: 20px;
}

#instructions ol li
{
    padding: 3px;
}

#recipes
{
    margin-top: 10px;
}

.quote
{
    line-height: 1.5;
}

a:hover
{
    color: #0088a9;
    font-weight: 400;
}

#main__homepage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

}

#main__homepage h1
{
    position: relative;
}

#hero__img
{
    border-radius: 10%;
    width: 300px;
    padding: 20px;
}

.quote
{
    padding: 0px 20px;
}

#down-arrow
{
    height: 20px;
    width: 20px;
    margin: 20px;
}

section img
{
    width: 300px;
    border-radius: 50%;

}

main figure
{
    height: 100px;
    font-size: large;
    padding-top: 10px;
}

.nav__links 
{
    display: flex;
    justify-content: space-evenly;   
    list-style: none;
    font-size: 18px;
    padding: 30px 0px;
    position: relative;
}

.nav__links li a
{
    transition: all 0.3s ease 0s;
}

.section__homepage
{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div h2
{
    padding-top: 20px;
    padding-bottom: 20px;
}

h2
{
    text-align: center;
}

.recipe__links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe__links a
{
    padding: 10px;
    transition: transform .2s;
}

.recipe__links a:hover
{
    transform: scale(1.1);
}

.about
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#about__p
{
    text-align: center;
    margin: 20px;
    max-width: 600px;
    padding: 20px;
    font-size: 24px;
}

#about__img
{
    width: 300px;
    border-radius: 50%;
    padding: 20px 0px;
}

button
{
    height: 30px;
    width: 60px;
    font-weight: 300;
    text-align: center;
    color: black;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
}

button:hover
{
    color:#000000;
    background-color:#FFFFFF;
}

#serving-count
{
    padding: 0px 20px;
    text-align: center;
    background-color: white;
}

@media screen and (max-width: 600px)
{
    .section__homepage
    {
        text-align: center;
        flex-direction: column;
    }

    .quote
    {
        margin: 10px 0px;
    }

    .recipe__img
    {
        height: 200px;
        width: 200px;
    }

    .recipe__links 
    {
        margin: 10px 0px;
    }

    #instructions
    {
    max-width: 450px;
    padding: 20px;
    }

    #about__p
    {
        font-size: 18px;
    }

    #main__recipe img
    {
        width: 100%;
        border-radius: 0%;
    }

}