.linkText{
    display: flex;
    justify-content: center;

    color: red;
    font-size: 20px;

}
 header{
    display: flex;
    justify-content: space-between;
} 

.title{
    display: flex;
    justify-content: flex-start;
}