.linkText{
    display: flex;
    justify-content: center;

    color: red;
    font-size: 20px;
}
.header{
    display: flex;
    justify-content: space-between;

    background-color: #3D405B;
    color: #FFF;
    padding: 5px;
} 