.link-collection > a {
	color: #3279a8;
	line-height: 26px;
}

.link-collection {
	display: grid;
	grid-template-columns: auto auto auto;
}

@media screen and (max-width: 900px) {
	.link-collection {
		display: grid;
		grid-template-columns: auto auto;
	}
}
