.headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.showcase {
	display: flex;
	justify-content: space-between;
}

.servings > button, #post-rating, #add-to-cart {
	background-color: #bc4524;
	border: none;
	color: #fff;
	font-size: 14px;
	padding: 5px 14px;
}

img{
	border: 5px solid #feeafa;
}

li {
	margin: 4px 0;
}

#actions {
	display: flex;
	align-items: center;
}

#ratings {
	font-size: 18px;
}

#rating-label {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 8px;
}

#serving-count {
	margin: 0 4px;
}
