/* CSS Document */

html{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

.intro-img {
	width: 105%;
	margin: -10px;
}

.circle-img {
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	margin-top: -20%;
	margin-bottom: 100px;
	filter: drop-shadow(0px 8px 4px #464D73);
}

.customCard {    
	display: flex;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
    color: #464D73 !important;	
	padding: 3%;
	background-color: #F2f2f2;
	font-size: 20px;
	border-radius: 20px;
	filter: drop-shadow(0px 8px 4px #464D73);
}

.buttons{
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
}

Button{
	background-color: #4E3247 !important;
	border-radius: 20px;
	height: 100px;
	width: 250px;
	border: none;
	filter: drop-shadow(0px 8px 4px #464D73);
	font-family: 'Cormorant', serif;
	color: #d5f2e2;
	font-size: 30px;
	cursor: pointer;
}