body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #e8ffff;
}

h2{
    background-color: #41aea9;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    margin: 4px 0;
}

header{
    background-color: #386460;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    color: #FFF;
    align-items: center;
}

header a{
    color: #FFF;
    margin: 0 12px;
}

.middle-container{
    padding: 15px 20% 40px;
    display: block;
}

.showcase{
    display: flex;
    justify-content: space-between;   
}

.showcase > .links{
    margin: 30px 6%;
}

.links > a{
    color: #dd8dab;
    line-height: 30px;
}

nav{
    color: #FFF;
    display: block;
}

.asia-dog-img{
    width: 35%;
}

.europe-dog-img{
    width: 35%;
}

.africa-dog-img{
    width: 35%;
}

#tessa-imgs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tessa-img{
    width: 25%;
}

.feature-img{
    height: 250px;
    text-align: center;
}

.servings > button {
    background-color: red;
    border: none;
    color: white;
    font-size: 14px;
    padding: 5px 14px;
}

#serving-count{
    margin: 0 4px;
}

