html * {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    padding-left: 14px;
    font-size: 44px;
    color: white;
}

header {
    display: flex;
    color: white;
    background-color: #301307;
    line-height: 50%;
    flex-direction: column;
}

a {
    background-color: #301307;
    color: #D3B38F;
    text-align: center;
}

.navbar {
    font-size: 22px;
    float: left;
    color: #D3B38F;
    text-align: center;
    padding: 14px 16px;
    background-color: #301307;
}

.navbar:hover {
    background-color: #111;
}