#intro {
    flex-direction: column;
}

#serving-counter {
    align-items: center;
}

#num-servings {
    padding: 0 20px;
    font-size: 30px;
    font-family: monospace;
}

svg {
    pointer-events: none;
    fill: var(--emphasis);
}

button:hover svg {
    fill: var(--primary);
}

button {
    background: transparent;
    border: none;
    outline: none;
}