
html{
    background-color:beige;
}
.header{
    display:flex;
    background-color:palevioletred;
    flex-direction:row;
    justify-content:flex-end;
    font-size:25;
}
.everything{
    display:flex;
    flex-direction:column;
    align-items:center;
}
h1{
    font-size:75;
}
h2{
    font-size:50;
}
p,ol,ul{
    font-size:25;
}

