body {
  background-color: lightslategray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  padding: 0 20px;
  border: 3px solid black;
}

header a {
  color: lightslategray;
  margin: 0 12px;
}

main {
  background-color: lightslategray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 12px;
}

.main-text {
  color: darkslategrey;
  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  background-color: bisque;
  border: none;
}
button:hover {
  background-color: aliceblue;
} 

