html *{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #976632;
    margin: 0;
}

header {
    display: flex;
    color: white;
    background-color: #301307;
    line-height: 50%;
    flex-direction: column;
}

main {
    margin-left: 360px;
    margin-right: 360px;
}

h1 {
    padding-left: 14px;
    font-size: 44px;
    color: white;
}

h2 {
    color: #D3B38F;
    background-color: #301307;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 32px;
    padding: 5px;
}

#title {
    color: #D3B38F;
    background-color: #301307;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 32px;
    padding: 5px;
}

#rating {
    color: #D3B38F;
    background-color: #301307;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 32px;
    padding: 5px;
}
h3 {
    line-height: 50%;
}

p {
    font-size: 22px;
    color: #301307;
}

ol {
    font-size: 22px;
    color: #301307;
}

ul {
    font-size: 22px;
    color: #301307;
    margin-top: 0;
    text-align: left;
}

a {
    background-color: #301307;
    color: #D3B38F;
    text-align: center;
}

.servings{
    display:flex;
    align-content: center;
    justify-content: left;
    margin-left: 5px;
}

#count{
    font-size: 22px;
    align-self: center;
}

.button{
    background-color: #D3B38F;
    width: 30px;
    height: 30px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin: 0px 5px;
    cursor: pointer;
    align-self: center;
}
 
.minus {
    margin-left: 10px;
    padding-bottom: 10px;
}

.minus:active {
    background-color: #301307;
}

.plus:active {
    background-color: #301307;
}

.navbar {
    font-size: 22px;
    float: left;
    color: #D3B38F;
    text-align: center;
    padding: 14px 16px;
    background-color: #301307;
}

.navbar:hover {
    background-color: #111;
}

.info {
    display:flex;
    margin-top: 25px;
    flex-direction: column;
}

.recipe >.desc {
    color: #D3B38F;
    display: flex;
    font-size: 28px;
    padding-left: 10px;
    margin-top: 0;
    margin-right: auto;
    align-items: flex-start;
    flex-direction: column;
}

.recipe {
    background-color: #301307;
    display:flex;
    margin-top: 25px;
    justify-content: flex-end;
    flex-direction: row;
}

.postRatings {
    display: flex;
    flex-direction: column;
    margin-right: 1000px;
    padding-bottom: 50px;
    color: #D3B38F;
}

#rating-label{
    font-size: 22px;
    color: #301307;
}

.submit {
    width: 90px;
    height: 30px;
    margin-top: 10px;
    margin-left: 0px;
    align-self: flex-start;
}