header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color:#17252A;
    padding: 15px;
    margin: 0;
  }


header a{
  color: white;
  margin: 0 12px;
}

main a{
  color: #17252A;
  padding: 0px 10px;
}