body {
  margin: 0;
  background-color: #f8edeb;
  padding-bottom: 2%;
}

.my-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: xx-large;
}

h2 {
  background-color: #fec89a;
  padding: 1% 1%;
}

button {
  cursor: pointer;
  border: 0;
  background-color: brown;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: auto 2%;
}
