.recipe-h3 {
	background-color: #ffb691;
  	padding: 2px 0px;
}

.recipe-body {
  	padding: 15px 20% 50px;
  	background-color: #fae6cf;
  	font-family: Century Gothic;
}


.links {
	margin: 0px 5px;
        color: #5e3885;
        line-height: 3;
}

