main#about {
	padding: 15px 20% 40px;
}

#chef_photo {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border: 5px solid #ffeafa;
}

#chef_photo > img {
	height: 210px;
	padding: 3px 1px;
}
