.cart-body {
  margin: 0;
  background-color: f8edeb;
  font-family: Century Gothic;
}

.emptyCart {
        margin: 0px 0px 0px 15px;
}

.emptyCart > button {
        background-color: #BC4524;
        color: black;
        font-size: 12px;
        padding: 10px 14px;
}

