:root {
    --color-main :  #ffb5a7;
    --color-highlight:  #fcd5ce;
    --color-white: #f3f3f3;
    --color-black: #081c15;
    --color-yellow: #C99521;
    --color-change: #95d5b2;
    --color-background: #f8edeb;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
}


   
