body {
    margin: 0px;
    background-color: #f8edeb;
}

main {
    display: block;
    padding: 15px auto 40px;
    padding-top: 15px;
    padding-right: 20%;
    padding-bottom: 40px;
    padding-left: 20%;
}

#welcome {
    font-size: xx-large;
    font-weight: bold;
}

.recipes {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;
}

.meals {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.highlight {
    display: flex;
    border-radius: 10px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
    background-color: #ffb5a7;
    color: white
}

.description {
    display: flex;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 5px;
    justify-content: center;
}

.subsection {
    display: flex;
    flex-direction: column;
    padding: 5px 25px;
    background-color: #f8dfcc;
    border-radius: 20px;
    margin-top: 2px;
}

.meal-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meal-list {
    display: flex;
    margin-top: 20px;
}

.meal-list li{
    margin-bottom: 30px;
}
.meal-list a{
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #f8edeb;
    border-radius: 10px;
    border: .2px solid black;
}

.meal-list a:visited{
    color:black;
    text-decoration: none;
}

.meal-list a:hover{
    text-decoration: underline;
}

section ul {
    list-style: none;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 25px;
    margin-top: 38px;
}

.meal-pic {
    width: 40%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}