header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40916c;
    padding: 0 20px;
}

body {
    margin: 0px;
    background-color: #d8f3dc;
}

nav {
    width: 100%;
    background-color: #40916c;
    padding-left: 30px;
    padding-right: 10px;
}

.nav-head {
    display: flex;
}

.nav-head p {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    color: black;
}

.nav-link {
    display:flex;
    padding: 5%;
    flex-wrap: nowrap;
}

.logo {
    display: flex;
    padding: 18px 10px;
    justify-content: space-around;
}


main {
    display: block;
    padding: 15px auto 40px;
    padding-top: 15px;
    padding-right: 20%;
    padding-bottom: 40px;
    padding-left: 20%;
}

#welcome {
    font-size: xx-large;
    font-weight: bold;
}

.recipes {
    font-size: xx-large;
    font-weight: bold;
}

.highlight {
    display: flex;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 200;
    background-color: #74c69d;
    color: white
}

.description {
    font-size: 20px;
    font-weight: 100;
}

section ul {
    list-style: none;
    font-size: 20px;
    font-weight: 100;
}