header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffb5a7;
    padding: auto 20px;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: #ffb5a7;
    justify-content: space-between;
    align-items: center;
}

.nav-head {
    display: flex;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: black;
    font-size: large;
    font-weight: 500;
    margin-right: 30px;
}

.logo {
    display: flex;
    padding: 18px 10px;
    justify-content: space-around;
    width: 13%;
    height: 50%;
    align-items: center;
}

.name {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.nav-link a {
    /*display:flex;
    flex-wrap: nowrap;*/
    margin: auto 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link a:visited{
    color: black;
    text-decoration: none;
}

.nav-link a:hover{
    text-decoration: underline;
}