body {
    margin: 0px;
    background-color: #f8edeb;
}

main {
    display: block;
    padding: 15px auto 40px;
    padding-top: 15px;
    padding-right: 20%;
    padding-bottom: 40px;
    padding-left: 20%;
}

.recipe-title {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

#welcome {
    font-size: xx-large;
    font-weight: bold;
}

#ratings {
    font-size: large;
}

.text-description {
    grid-area: des;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 5px;
    margin-right: 70px;
}

.pic-description {
    grid-area: pic;
    width: 30%;
    border-radius: 20px;
}

.serving {
    grid-area: serving;
    font-size: 25px;
    font-weight: 510;
    margin-bottom: 5px;
    margin-right: 70px;
}

.rating {
    grid-area: rating;
    font-size: 25px;
    font-weight: 510;
    margin-bottom: 5px;
    margin-right: 70px;
}

button {
    display: inline-block;
    background-color: #ffb5a7;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    margin: 4px 2px;
    padding: 5px 12px;
    color: white;
}

#count {
    font-weight: 100;
    font-size: 22px;
}

.description {
    display: grid;
    grid-template-columns: 25px 500px 0px 730px;
    grid-template-rows: auto;
    grid-template-areas: 
        ". des . pic"
        ". serving . pic"
        ". rating . pic";
}

.highlight {
    display: flex;
    border-radius: 10px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
    background-color: #ffb5a7;
    color: white
}