body {
	margin: 0;
	background-color: #cbf3f0;
	font-family: Helvetica;
}

h2 {
	background-color: #ffe6a7;
	padding: 4px 8px;
}

#recipe-list, #recipe {
	padding: 15px 10% 40px;
}

main#browse {
	display: grid;
	grid-template-columns: 75% 25%;
}

button:hover {
	cursor: pointer;
}
