header{
    /* display: flex;
    justify-content: space-between; */

    background-color: #3D405B;
    color: #FFF;
    padding: 5px;
}

main{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}