@import url(https://fonts.googleapis.com/css?family=Rubik);

header{
  background: #394753;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

body{
  margin: 0;
  font-family: "Rubik";
  font-size: 20px;
  background: rgb(230, 236, 234);
}

ul{
  list-style-type: circle;
}

h3{
  padding: 15px;
  margin: 0;
  text-align: left;
}

h2{
  padding: 20px;
  font-style: italic;
  text-align: left;
}

h1{
  padding: 20px;
  text-align: left;
}

p{
  padding-left: 30px;
}

.ingredients{
  background: #54A5F2;
  border: #394753;
  border-style: dashed hidden dashed hidden;
  border-width: 6px;
  padding: 10px;
  margin-top: 10px;
}

img.pageimage{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 5px;
  width: 500px;
  filter: drop-shadow(20px 10px 10px #3C3E40)
}

button{
  padding: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
}

select{
  padding: 5px;
  margin-left: 1px;
  
}

ul li{
  text-align: left;
}