
  .navbar {
    border: 3px solid tomato;
    background-color: tomato;
    color: white;
    padding: 3px 3px;
    text-align: left;
    display: inline-table;
    width: 95%;
    margin: 5px;
  }
  .navitem {
    color: white;
    text-align: center;
    display: inline-block;
    font-size: larger;
    border-radius: 1px;
    /* border-style: groove outset; */
    /* border-color: black; */
  }
  .navitem:link {
    color: white;
    text-align: center;
    display: inline-block;  

  }
  .title {
    text-align: center;
    color: #1A535C;
    margin-left: 20px;
  }