@import url(https://fonts.googleapis.com/css?family=Rubik);

header{
  background: #394753;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

nav{
  padding: 20px;

}

img.carton{
  width: 100px;
  height: auto;
}

img.carton:hover{
  width: 200px;
  height: auto;
}

img#reg:hover{
  filter: drop-shadow(0px 0px 25px white);
}

img#almond:hover{
  filter: drop-shadow(0px 0px 25px blanchedalmond);
}

img#chocolate:hover{
  filter: drop-shadow(0px 0px 25px #CE9653);
}

img#soy:hover{
  filter: drop-shadow(0px 0px 25px #d2c29d);
}

img#strawberry:hover{
  filter: drop-shadow(0px 0px 25px #FAD3ED);
}

img#vanilla:hover{
  filter: drop-shadow(0px 0px 25px blanchedalmond);
}

td{
  padding: 50px;
}

th{
  font-size: 150%;
}

td{
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

body{
  margin: 0;
  font-family: "Rubik";
  font-size: 20px;
  background: rgb(230, 236, 234);
}

ul{
  list-style-type: circle;
}

h3{
  padding: 15px;
  margin: 0;
}

.ingredients{
  background: #54A5F2;
  border: #394753;
  border-style: dashed hidden dashed hidden;
  border-width: 6px;
  padding: 10px;
}

img .pageimage{
  padding: 100px;
  border: 1px;
  border-radius: 4px;
  padding: 5px;
  border-color: #394753;
}