header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  padding: 8px 20px;
  margin: 8px;
  border: 3px solid black;
}

header a {
  color: lightslategray;
  margin: 0 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-text {
  color: darkslategrey;
  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}